@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&family=Roboto&display=swap');
@import '~mdb-ui-kit/css/mdb.min.css';

body {
    font-family: 'Roboto' !important;
    font-size: 1rem;
    background-color: #E5E5E5;
    font-size: 16px;
}

:root {
    --primaryOne: #3366FF;
    --primaryTwo: #D6E4FF;
    --primaryThree: #1939B7;
    --primaryFour: #091A7A;

    --secondaryOne: #212B36;
    --secondaryTwo: #637381;
    --secondaryThree: #E0E2E4;

    --darBlue: #212B36;

    --redTomato: #DB1F35;

    --yello: #B78103;

}

/* .padding-23 {
    padding: 12px 0px;
} */

.ssecondaryTwo {
    color: var(--secondaryTwo);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Public Sans', sans-serif;
}

a {
    color: transparent;
    text-decoration: none !important;
}
h1 {
    color: var(--darBlue);
}
.B-bottom {
    border-bottom: 1px solid rgba(145, 158, 171, 0.18);
}
.fs-14{
    font-size: 14px;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}

.form-select {
    border-radius: 10px !important;
    height: 56px;
}

.form-select:focus {
    border-color: #242424 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25) !important;
}

.form-control {
    border-radius: 10px !important;
    height: 56px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bec1c6 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254, 255, 255, 0.25) !important;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.sidebar {
    background: #ffffff;
    width: 20%;
    position: fixed;
    top: 0px;
    bottom: 0px;
}

.ser-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.ser {
    color: var(--primaryThree);
}

.exp {
    color: #637381;
}
.box {
    background-color: var(--primaryTwo);
    margin: 20px 0px 15px 0px;
    border-radius: 10px;
}

.box a {
    padding: 16px 20px;
}
.pic img{
    width: 40px;
    height: 40px;
}
.txt1 {
    margin-left: 25px;
}

.txt1 h6 {
    font-size: 14px;
    color: var(--darBlue);
}
.txt1 p {
    color: var(--secondaryTwo);
    font-size: 14px;
    margin: 0px;
}

.custom-ul {
    padding: 0px !important;
    width: 18.5% !important;
    border: none !important;
}

.custom-li a {
    width: 175%;
    border-radius: 10px;
}
.custom-li a:hover {
    background-color: var(--primaryTwo) !important;
    border: none !important;
    border-radius: 10px;
    color: var(--primaryFour);
}

.listGroup {
    border-radius: 10px !important;
}
.list-group-item {
    border: none !important;
}

.list-group-item:hover {
    background-color: var(--primaryTwo);
    color: #0D54B8;
}
.list-group-item a:visited{
    background-color: var(--primaryTwo);
}
.list-group-item a:hover {
    font-weight: 700;
    color: #0D54B8;
}

.list-group-item a:hover i {
    color: #0D54B8;
}
.iconHeading{
    font-size: 14px;
}
.num
{
    border: 2px solid var(--redTomato);
    border-radius: 10px;
    margin-left: 90px;
    padding: 0px 5px 0px 5px;
    color: var(--redTomato);
}
.dashboard {
    width: 80%;
    background: #E5E5E5;
    background-color: #E5E5E5;
    margin-left: 20%;
}
.wrapper {
    padding: 0px 40px;
}
.icon2 {
    color: var(--secondaryTwo);
    background-color: #c6c6c6;
    padding: 10px;
    border-radius: 50%;
}
i {
    font-size: 18px;
}
.br10 {
    border-radius: 10px !important;
}
.listGroupItem {
    border: none !important;
    border-radius: 10px;
}
.icon-button__badge {
    position: absolute;
    top: 1px;
    right: 9px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.width1 {
    width: 360px !important;
    border-radius: 10px !important;
}
.txt2 {
    margin-right: 15px;
}

.notify {
    font-weight: bold;
    letter-spacing: 1px;
}
.notify-div{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 13px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primaryTwo) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: var(--primaryTwo) !important;
}
.icon-button:hover {
    cursor: pointer;
}
.width2 {
    width: 260px !important;
    border-radius: 10px !important;
}
.heading {
    margin-top: 29.5px;
    margin-bottom: 40px;
}

/* common classes end */



/* .btn .badge {
    position: relative !important;
    top: -18px !important;
    left: -19px;
} */
.btn img {
    width: 40px;
}

.card-header{
    padding: 0rem 1rem !important;
}
button#home-tab {
    font-size: 14px;
    padding: 12px;
}
button#profile-tab {
    font-size: 14px;
    padding: 12px;
}

.card {
    height: 100%;
    border-radius: 16px !important;
    box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}
.card-body {
    flex: 1 1 auto;
    padding: 0rem 1rem !important;
}
.nav-tabs {
    border-bottom: 0px solid #dee2e6 !important;
}
/* .nav-link{
    margin-left: 15px !important;
} */
.nav-tabs .nav-link:focus {
    color: #495057;
    background-color: #f7f7f7 !important;
    border-color: #f7f7f7 #f7f7f7 #f7f7f7 !important;
    font-weight: 700 !important;
    border: 0px solid transparent !important; 
  border-top-left-radius: 0rem !important; 
 border-top-right-radius: 0rem !important;
 border-bottom:3px solid var(--primaryFour) !important ;
}
.nav-link.active {
    background-color: #f7f7f7 !important; 
 border-color: #f7f7f7 !important;
}
.nav-link{
    color: #212529 !important;
}

.btn1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 12px 20px;
}
.pic img {
    width: 40px;
    height: 40px;
}
.txt1 {
    margin-left: 25px;
}
/* .form-wrapper{
    border-radius: 10px;
    background-color: #F4F6F8;
} */
/* .buttons{
    padding: 14px 0px;
} */

.topic-wrapper{
    background-color: #ffffff;
}
.topic {
    position: relative;
    margin-bottom: 17px;
    margin-top: 21px;
}
.add {
    position: absolute;
    left: 18px;
    top: -7px;
    background-color: white;
    text-align: center;
    padding: 0px 6px;
    color: #637381;
    font-size: 12px;
}
.input-wrapper{
    background-color: #ffffff;
    padding: 20px 24px;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback{
    position: absolute;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    bottom: 9px;
    margin-left: 5px;
}
.has-search .form-control-feedback2{
    position: absolute;
 
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    bottom: 9px;
    margin-left: 5px;
}
.span1 {
    background-color: #ffc10740;
    font-weight: 700;
    color: #B78103 !important;
    border-radius: 8px !important;
}
.span2 {
    background-color: rgba(255, 72, 66, 0.16);
    font-weight: 700;
    color: rgba(219, 32, 32, 0.944) !important;
    border-radius: 8px !important;
}
.card-wrapper{
    margin-bottom: 100px;
}
.pagination1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 35px;
    padding: 1px 16px 17px 16px;
}
.tablecls1{
    font-weight: bold;
    text-align: left;
    padding: 20px 10px !important;
}
.tablecls2 {
    text-align: center;
    padding-top:24px !important;
    padding-bottom: 24px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.tablecls2{
    text-align: left;
    padding-top:24px !important;
    padding-bottom: 24px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.table-br-bg-1{
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    background-color: #f7f7f7 !important; 
}
.bg-table-head{
    background-color: #f7f7f7 !important; 
}
.table-br-bg-2{
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    background-color: #f7f7f7 !important; 
}

#html{
    height: 18px;
    width: 18px;
}

/* This is table 2 */
.file1 {
    border: 2px solid #0D54B8;
    filter: drop-shadow(0px 8px 16px rgba(13, 84, 184, 0.24));
    border-radius: 8px;
    height: 100%;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    color: #0C53B7;
    background-color: transparent;
}
.row{
    row-gap: 24px;
}


@media (min-width: 359px) and (max-width: 576px) {
    .main {
        align-items: center;
        flex-direction: column;
        display: flex;
    }
    .row {
        row-gap: 20px;
    }
    .sidebar {
        background: #ffffff;
        width: 57%;
        position: relative;
        overflow: auto;
    }
    .txt1 {
        margin-left: 10px;
    }
    .custom-li a {
        width: 115%;
        border-radius: 10px;
    }
    .heading {
        margin-top: 19.5px;
        margin-bottom: 20px;
        text-align: center;
    }
    .dashboard {
        width: 100%;
        background: #E5E5E5;
        background-color: #E5E5E5;
        margin-left: 0px;
    }
    .icon {
        margin-left: 20px;
    }
    .width1{
        width: 260px !important;
        border-radius: 10px !important;
    }
    .num {
        border: 2px solid var(--redTomato);
        border-radius: 10px;
        margin-left: 15px;
        padding: 0px 4px 0px 4px;
        color: var(--redTomato);
        font-size: 11px;
    }
    h2 span {
        font-size: 22px;
    }
    .navbar-toggler-icon .fa-bars {
        font-size: 30px;
        color: #212B36;
    }
    .wrapper {
        padding: 20px 20px;
    }
    .dropdown-menu.show {
        display: block;
    }
    /* common cls end */
    .col-md-4 {
        margin-top: 24px !important;
    }
    .card-body {
        padding: 30px 20px !important;
    }
    .topic {
        position: relative;
        margin-bottom: 20px;
        margin-top: 0px;
    }
    .tablecls1 {
        font-weight: bold;
        text-align: left;
        padding: 15px 3px !important;
    }
    .tablecls2 {
        text-align: center;
        padding:15px 3px!important;
        
    }
    .span1{
        font-size: 8px;
    }
    .span2{
        font-size: 8px;
    }
    .form-select {
        border-radius: 10px !important;
        height: 40px;
    }
    .form-control {
        border-radius: 10px !important;
        height: 40px;
    }
    .has-search .form-control-feedback {
        bottom: 0px;
    }
    .fs-14{
        font-size: 14px;
    }
    .ml25{
        margin-left: 25px;
    }
    .row{
        row-gap: 24px;
    }
    .hr{
        margin: 10px 0px !important;
    }
    .has-search .form-control-feedback2 {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
        bottom: 60px;
        margin-left: 5px;
    }
    .pagination1-wrapper {
        padding: 5px 9px 5px 9px;
        text-align: end;
    }
    .pagination1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1px;
        padding: 1px 9px 2px 3px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .main {
        align-items: center;
        flex-direction: row;
        display: flex;
    }
    .row {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sidebar {
        background: #ffffff;
        width: 36%;
        position: fixed;
        top: 0px;
        bottom: 0px;
        overflow: auto;
    }
    .txt1 {
        margin-left: 10px;
    }
    .custom-li a {
        width: 115%;
        border-radius: 10px;
    }
    .dashboard {
        width: 64%;
        background: #E5E5E5;
        background-color: #E5E5E5;

        margin-left: 36%;
    }
    .icon {
        margin-left: 20px;
    }
    .width1 {
        width: 260px !important;
        border-radius: 10px !important;
    }
    .num {
        margin-left: 20px;
        padding: 0px 2px 0px 2px;
        font-size: 12px;
        border-radius: 7px;
    }
    h2 span {
        font-size: 22px;
    }
    .navbar-toggler-icon .fa-bars {
        font-size: 30px;
        color: #212B36;
    }
    .wrapper {
        padding: 20px 15px;
    }
/* common cls end */

    .col-md-4 {
        margin-top: 24px !important;
        width: 73.3333% !important;
    } 
    .add {
        position: absolute;
        left: 111px;
        top: -7px;
        background-color: white;
        text-align: center;
        padding: 0px 6px;
        color: #637381;
        font-size: 12px;
    }

}
@media (min-width: 769px) and (max-width: 992px) {
    .row {
        column-gap: 1px;
        justify-content: center;
    }
    .main {
        align-items: center;
        flex-direction: row;
        display: flex;
    }
    .sidebar {
        background: #ffffff;
        width: 25%;
        position: fixed;
        top: 0px;
        bottom: 0px;
        overflow: auto;
    }
    .txt1 {
        margin-left: 14px;
    }
    .heading {
        margin-top: 19.5px;
        margin-bottom: 20px;
        text-align: center;
        flex-direction: column;
    }
    .dashboard {
        width: 75%;
        background: #E5E5E5;
        background-color: #E5E5E5;
        margin-left: 25%;
    }
    h2 span {
        font-size: 22px;
    }
    .width1 {
        width: 260px !important;
        border-radius: 10px !important;
    }
    .num {
        margin-left: 24px;
        padding: 1px 2px 2px 1px;
        font-size: 12px;
        border-radius: 8px;
    }
    .navbar-toggler-icon .fa-bars {
        font-size: 30px;
        color: #212B36;
    }
    .wrapper {
        padding: 20px 40px;
    }
    /* common cls end */


    .col-md-4 {
        margin-top: 24px !important;
        width: 73.3333% !important;
    }
    .add {
        position: absolute;
        left: 165px;
        top: -7px;
        background-color: white;
        text-align: center;
        padding: 0px 6px;
        color: #637381;
        font-size: 12px;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {

    .sidebar {
        background: #ffffff;
        width: 25%;
        position: fixed;
        top: 0px;
        bottom: 0px;
        overflow: auto;
    }

    .heading {
        margin-top: 19.5px;
        margin-bottom: 20px;
        text-align: center;
        flex-direction: column;
    }

    .dashboard {
        width: 75%;
        background: #E5E5E5;
        background-color: #E5E5E5;
        margin-left: 25%;
    }
}